body {
  background-color: white;
}

.container-two {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.box-two {
  width: 200px;
  height: 200px;
  margin: 0 10px;
  padding: 20px;
  text-align: center;
  border: 2px solid #ddd;
  border-radius: 10px;
  background-color: #4fc24f; /* Same background color for all boxes */
  box-shadow: 1px 3px 8px #000;
  transition: all 0.3s ease;
}

.box-two:hover {
  background-color: #f0f0f0; /* Change background color on hover */
  border-color: #999;
  box-shadow: 1px 8px 3px;
  transform: scale(1.05);
}

.box-two h2 {
  margin: 0;
  margin-bottom: 10px;
}

.box-two p {
  margin: 0;
}
